# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencias
node_modules

# Producción / Compilación (Frontend)
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# .NET / Visual Studio (Backend / Proyectos .esproj)
obj/
bin/
.vs/
*.esproj
*.FileListAbsolute.txt